In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
f99_dir = '/home/ec2-user/SageMaker/data/frames/f99'

In [132]:
len(metadata_all[metadata_all.label == "REAL"]), len(metadata_all[metadata_all.label == "FAKE"])

(19154, 100000)

In [133]:
metadata_all.head()

       Unnamed: 0 label        original  split
0  dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train
1  izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train
2  yenswtjadf.mp4  FAKE  nekeugsope.mp4  train
3  hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train
4  gmlomcyfap.mp4  FAKE  whneslhtcb.mp4  train

In [134]:
metadata_df = metadata_all.rename(columns = {'Unnamed: 0': 'videoname'})

In [135]:
metadata_df.columns

Index(['videoname', 'label', 'original', 'split'], dtype='object')

In [136]:
f99 = list(np.zeros(len(metadata_df), dtype=np.int8))

In [137]:
metadata_df['f99'] = f99

In [138]:
metadata_df.head()

        videoname label        original  split  f99
0  dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train    0
1  izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train    0
2  yenswtjadf.mp4  FAKE  nekeugsope.mp4  train    0
3  hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train    0
4  gmlomcyfap.mp4  FAKE  whneslhtcb.mp4  train    0

In [139]:
len(os.listdir(f99_dir))

114638

In [140]:
#metadata_df.at["dvglijlzdi.mp4", 'f99'] = 1

In [141]:
meta = metadata_df.set_index('videoname')

In [142]:
meta.at["dvglijlzdi.mp4", 'f99'] = 1

In [143]:
#metadata_df = metadata_df[metadata_df.f99 != 1]

In [144]:
meta[meta.index == 'dvglijlzdi.mp4']

               label        original  split  f99
videoname
dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train    1

In [145]:
meta.loc[meta['f99'] == 1]

               label        original  split  f99
videoname
dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train    1

In [146]:
image_list = os.listdir(f99_dir)[:5]

In [147]:
for image in image_list:
    video = image[:-3]+'mp4'
    meta.at[video, 'f99'] = 1

In [148]:
meta.loc[meta['f99'] == 1]

               label        original  split  f99
videoname
dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train    1
dxqpxgnbuy.mp4  FAKE  mlvojaaocm.mp4  train    1
begozxasac.mp4  FAKE  ysnepsntpe.mp4  train    1
gcwjactfir.mp4  FAKE  yvsaazhxhc.mp4  train    1
hvkmqifunx.mp4  FAKE  jpvkoxrueh.mp4  train    1
ijgfowotbt.mp4  FAKE  xeyceemrzs.mp4  train    1

In [149]:
new_list = meta.loc[meta['f99'] == 1].index.tolist()

In [150]:
type(new_list)

list

In [151]:
new_list

['dvglijlzdi.mp4',
 'dxqpxgnbuy.mp4',
 'begozxasac.mp4',
 'gcwjactfir.mp4',
 'hvkmqifunx.mp4',
 'ijgfowotbt.mp4']

In [152]:
for image in new_list:
    video = image[:-3]+'mp4'
    meta.at[video, 'f99'] = 0

In [153]:
meta.loc[meta['f99'] == 1]

Empty DataFrame
Columns: [label, original, split, f99]
Index: []

In [154]:
f99_list = os.listdir(f99_dir)

In [155]:
len(f99_list)

114638

In [156]:
f99_list[0]

'dxqpxgnbuy.jpg'

In [157]:
for image in f99_list:
    video = image[:-3]+'mp4'
    meta.at[video, 'f99'] = 1

In [158]:
final_meta = meta[meta.f99 != 0]

In [159]:
final_meta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 114638 entries, dvglijlzdi.mp4 to .ipynb_checkpoimp4
Data columns (total 4 columns):
label       114635 non-null object
original    96112 non-null object
split       114635 non-null object
f99         114638 non-null float64
dtypes: float64(1), object(3)
memory usage: 4.4+ MB

In [160]:
len(final_meta[final_meta.label == "REAL"]), len(final_meta[final_meta.label == "FAKE"])

(18523, 96112)

In [161]:
if os.path.isfile(os.path.join(f99_dir, 'metadata.csv')):
    print ("File exist")
    print ('Deleting metadata.csv')
    os.remove(os.path.join(f99_dir, 'metadata.csv'))
else:
    print('metadata.csv does not exist')

File exist
Deleting metadata.csv

In [162]:
final_meta.to_csv(os.path.join(f99_dir, 'metadata.csv'))

In [163]:
metatest = pd.read_csv(os.path.join(f99_dir, 'metadata.csv'))

In [164]:
len(metatest)

114638

In [165]:
len(metatest[metatest.label == "REAL"]), len(metatest[metatest.label == "FAKE"])

(18523, 96112)

In [166]:
metatest.head()

        videoname label        original  split  f99
0  dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train  1.0
1  izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train  1.0
2  yenswtjadf.mp4  FAKE  nekeugsope.mp4  train  1.0
3  hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train  1.0
4  gmlomcyfap.mp4  FAKE  whneslhtcb.mp4  train  1.0

In [3]:
meta99 = pd.read_csv(os.path.join(f99_dir, 'metadata.csv'))

In [4]:
ugly99 = pd.read_csv('ugly99.csv')

In [5]:
ugly99.head()

         filename  label
0  aaagqkcdis.jpg    NaN
1  aaapwqhxli.jpg    NaN
2  aabjfjbpir.jpg    NaN
3  aabyjxwqyo.jpg    NaN
4  aaedrqeumd.jpg    NaN

In [6]:
meta99.index

RangeIndex(start=0, stop=114638, step=1)

In [7]:
meta99.loc[meta99['videoname'] == 'aaagqkcdis.mp4']

            videoname label        original  split  f99
79022  aaagqkcdis.mp4  FAKE  eklsrnkwog.mp4  train  1.0

In [8]:
ugly99.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
filename    200 non-null object
label       0 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.2+ KB

In [9]:
ugly99 = ugly99.rename(columns = {'filename': 'videoname'})

In [10]:
ugly99.head()

        videoname  label
0  aaagqkcdis.jpg    NaN
1  aaapwqhxli.jpg    NaN
2  aabjfjbpir.jpg    NaN
3  aabyjxwqyo.jpg    NaN
4  aaedrqeumd.jpg    NaN

In [11]:
ugly99 = ugly99.set_index('videoname')

In [12]:
ugly99.head()

                label
videoname
aaagqkcdis.jpg    NaN
aaapwqhxli.jpg    NaN
aabjfjbpir.jpg    NaN
aabyjxwqyo.jpg    NaN
aaedrqeumd.jpg    NaN

In [13]:
meta99 = meta99.set_index('videoname')

In [14]:
for file in ugly99:

SyntaxError: unexpected EOF while parsing (<ipython-input-14-b6e1cbd0f015>, line 2)

In [15]:
ugly99.head()

                label
videoname
aaagqkcdis.jpg    NaN
aaapwqhxli.jpg    NaN
aabjfjbpir.jpg    NaN
aabyjxwqyo.jpg    NaN
aaedrqeumd.jpg    NaN

In [16]:
ugly99.loc['aaagqkcdis.jpg']

label   NaN
Name: aaagqkcdis.jpg, dtype: float64

In [17]:
ugly99.loc[ugly99.index == "aaagqkcdis.jpg"]

                label
videoname
aaagqkcdis.jpg    NaN

In [18]:
ugly_list = ugly99.index.to_list()

In [19]:
ugly_list[0][:-3]+'mp4'

'aaagqkcdis.mp4'

In [20]:
mp4_list = [file[:-3]+'mp4' for file in ugly_list]

In [21]:
ugly99.index = mp4_list

In [22]:
ugly99.head()

                label
aaagqkcdis.mp4    NaN
aaapwqhxli.mp4    NaN
aabjfjbpir.mp4    NaN
aabyjxwqyo.mp4    NaN
aaedrqeumd.mp4    NaN

In [23]:
ugly99.index.set_names('videoname', inplace=True)

In [24]:
ugly99.head()

                label
videoname
aaagqkcdis.mp4    NaN
aaapwqhxli.mp4    NaN
aabjfjbpir.mp4    NaN
aabyjxwqyo.mp4    NaN
aaedrqeumd.mp4    NaN

In [25]:
meta99[meta99.index == 'aabjfjbpir.mp4']

               label        original  split  f99
videoname
aabjfjbpir.mp4  FAKE  vlyapolayz.mp4  train  1.0

In [34]:
ugly99.replace(np.nan, '', regex=True, inplace=True)

In [35]:
ugly99.head()

               label
videoname
aaagqkcdis.mp4
aaapwqhxli.mp4
aabjfjbpir.mp4
aabyjxwqyo.mp4
aaedrqeumd.mp4

In [36]:
ugly99.at['aaagqkcdis.mp4', 'label'] = meta99.at['aaagqkcdis.mp4', 'label']

In [37]:
ugly99.head()

               label
videoname
aaagqkcdis.mp4  FAKE
aaapwqhxli.mp4
aabjfjbpir.mp4
aabyjxwqyo.mp4
aaedrqeumd.mp4

In [38]:
for u in ugly99.index:
    for m in meta99.index:
        if u == m:
            ugly99.at[u, 'label'] = meta99.at[m, 'label']

In [39]:
ugly99.head()

               label
videoname
aaagqkcdis.mp4  FAKE
aaapwqhxli.mp4  REAL
aabjfjbpir.mp4  FAKE
aabyjxwqyo.mp4  FAKE
aaedrqeumd.mp4  FAKE

In [40]:
len(ugly99[ugly99.label == "REAL"]), len(ugly99[ugly99.label == "FAKE"])

(8, 192)

In [41]:
final_ugly99 = ugly99[ugly99.label != 'REAL']

In [42]:
final_ugly99.info()

<class 'pandas.core.frame.DataFrame'>
Index: 192 entries, aaagqkcdis.mp4 to akkewboafl.mp4
Data columns (total 1 columns):
label    192 non-null object
dtypes: object(1)
memory usage: 3.0+ KB

In [44]:
final_ugly99.to_csv('metadata_ugly99.csv')

In [47]:
mylist = ['alabtogcpi',
'alceyaduzi',
'alclpnubdd',
'aldxnorbdp',
'alexkuuatd',
'alhqvmlmfm',
'alihirtwnd',
'aliiokxvrj']

In [48]:
newlist = [i+'.mp4' for i in mylist]

In [49]:
newlist

['alabtogcpi.mp4',
 'alceyaduzi.mp4',
 'alclpnubdd.mp4',
 'aldxnorbdp.mp4',
 'alexkuuatd.mp4',
 'alhqvmlmfm.mp4',
 'alihirtwnd.mp4',
 'aliiokxvrj.mp4']

In [53]:
for i in newlist:
    print(meta99[meta99.index == i])

               label        original  split  f99
videoname
alabtogcpi.mp4  FAKE  edjhsiympc.mp4  train  1.0
               label        original  split  f99
videoname
alceyaduzi.mp4  FAKE  aoeuvrhatp.mp4  train  1.0
               label        original  split  f99
videoname
alclpnubdd.mp4  FAKE  qmworbjopm.mp4  train  1.0
               label        original  split  f99
videoname
aldxnorbdp.mp4  FAKE  myvwyfdnxu.mp4  train  1.0
               label        original  split  f99
videoname
alexkuuatd.mp4  FAKE  iwthiaarpj.mp4  train  1.0
               label        original  split  f99
videoname
alhqvmlmfm.mp4  FAKE  nmusooihlb.mp4  train  1.0
               label        original  split  f99
videoname
alihirtwnd.mp4  FAKE  hmvxepafig.mp4  train  1.0
               label        original  split  f99
videoname
aliiokxvrj.mp4  FAKE  cpvhgylffq.mp4  train  1.0

In [50]:
meta99[meta99.index == 'alabtogcpi.mp4']

               label        original  split  f99
videoname
alabtogcpi.mp4  FAKE  edjhsiympc.mp4  train  1.0

In [52]:
meta99.info()

<class 'pandas.core.frame.DataFrame'>
Index: 114638 entries, dvglijlzdi.mp4 to .ipynb_checkpoimp4
Data columns (total 4 columns):
label       114635 non-null object
original    96112 non-null object
split       114635 non-null object
f99         114638 non-null float64
dtypes: float64(1), object(3)
memory usage: 9.4+ MB

In [54]:
ugly = pd.read_csv('metadata_ugly99.csv')

In [55]:
ugly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
videoname    200 non-null object
label        200 non-null object
dtypes: object(2)
memory usage: 3.2+ KB

In [56]:
ugly.head()

        videoname label
0  aaagqkcdis.mp4  FAKE
1  aabjfjbpir.mp4  FAKE
2  aabyjxwqyo.mp4  FAKE
3  aaedrqeumd.mp4  FAKE
4  aaeoalihgj.mp4  FAKE

In [57]:
meta99.head()

               label        original  split  f99
videoname
dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train  1.0
izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train  1.0
yenswtjadf.mp4  FAKE  nekeugsope.mp4  train  1.0
hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train  1.0
gmlomcyfap.mp4  FAKE  whneslhtcb.mp4  train  1.0

In [59]:
ugly['original'] = ''

In [73]:
for u in ugly.index:
    for m in meta99.index:
        if u == m:
            ugly.at[u, 'original'] = meta99.at[m, 'original']

In [67]:
meta99[meta99.index == 'aaagqkcdis.mp4']

               label        original  split  f99
videoname
aaagqkcdis.mp4  FAKE  eklsrnkwog.mp4  train  1.0

In [74]:
ugly.head()

               label        original
videoname
aaagqkcdis.mp4  FAKE  eklsrnkwog.mp4
aabjfjbpir.mp4  FAKE  vlyapolayz.mp4
aabyjxwqyo.mp4  FAKE  ppulbuhtsc.mp4
aaedrqeumd.mp4  FAKE  jgrtpfnlks.mp4
aaeoalihgj.mp4  FAKE  wewvgopijp.mp4

In [75]:
len(ugly[ugly.label == "REAL"]), len(ugly[ugly.label == "FAKE"])

(0, 200)

In [76]:
ugly[ugly.index == 'aaagqkcdis.mp4']

               label        original
videoname
aaagqkcdis.mp4  FAKE  eklsrnkwog.mp4

In [71]:
ugly.set_index('videoname', inplace=True)

In [78]:
meta99[meta99.label == 'REAL'][:200]

               label original  split  f99
videoname
xqsivexncg.mp4  REAL      NaN  train  1.0
vhvtjsiirh.mp4  REAL      NaN  train  1.0
flxkagsdek.mp4  REAL      NaN  train  1.0
fczgjceyjq.mp4  REAL      NaN  train  1.0
gpcwattrnd.mp4  REAL      NaN  train  1.0
actlcrgiug.mp4  REAL      NaN  train  1.0
sdudnjwzyh.mp4  REAL      NaN  train  1.0
eigrxcetcn.mp4  REAL      NaN  train  1.0
hvsrsmixku.mp4  REAL      NaN  train  1.0
bxmlvyjhkm.mp4  REAL      NaN  train  1.0

In [81]:
len(meta99[meta99.label == 'REAL'][:200])

200

In [83]:
df = pd.concat([ugly, meta99[meta99.label == 'REAL'][:200]])

/home/ec2-user/anaconda3/envs/pytorch_p36/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, aaagqkcdis.mp4 to vdqlwezaha.mp4
Data columns (total 4 columns):
f99         200 non-null float64
label       400 non-null object
original    200 non-null object
split       200 non-null object
dtypes: float64(1), object(3)
memory usage: 15.6+ KB

In [86]:
df.head()

                f99 label        original split
videoname
aaagqkcdis.mp4  NaN  FAKE  eklsrnkwog.mp4   NaN
aabjfjbpir.mp4  NaN  FAKE  vlyapolayz.mp4   NaN
aabyjxwqyo.mp4  NaN  FAKE  ppulbuhtsc.mp4   NaN
aaedrqeumd.mp4  NaN  FAKE  jgrtpfnlks.mp4   NaN
aaeoalihgj.mp4  NaN  FAKE  wewvgopijp.mp4   NaN

In [89]:
df.drop(columns=['f99', 'split'], inplace=True)

In [91]:
df.head()

               label        original
videoname
aaagqkcdis.mp4  FAKE  eklsrnkwog.mp4
aabjfjbpir.mp4  FAKE  vlyapolayz.mp4
aabyjxwqyo.mp4  FAKE  ppulbuhtsc.mp4
aaedrqeumd.mp4  FAKE  jgrtpfnlks.mp4
aaeoalihgj.mp4  FAKE  wewvgopijp.mp4

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, aaagqkcdis.mp4 to vdqlwezaha.mp4
Data columns (total 2 columns):
label       400 non-null object
original    200 non-null object
dtypes: object(2)
memory usage: 9.4+ KB

In [94]:
df.to_csv('metadata_ugly99.csv')

In [95]:
df1 = pd.read_csv('metadata_ugly99.csv')

In [96]:
df1.head()

        videoname label        original
0  aaagqkcdis.mp4  FAKE  eklsrnkwog.mp4
1  aabjfjbpir.mp4  FAKE  vlyapolayz.mp4
2  aabyjxwqyo.mp4  FAKE  ppulbuhtsc.mp4
3  aaedrqeumd.mp4  FAKE  jgrtpfnlks.mp4
4  aaeoalihgj.mp4  FAKE  wewvgopijp.mp4

In [97]:
len(df1[df1.label == "REAL"]), len(df1[df1.label == "FAKE"])

(200, 200)