In [12]:
import pandas as pd
import numpy as np
import os
import shutil

In [2]:
f150_dir = '/home/ec2-user/SageMaker/data/frames/f150'

In [9]:
f150_list = os.listdir(f150_dir)

In [10]:
f150_list[0]

'smpozqlbuo_150.jpg'

In [19]:
os.path.join(f150_dir, f150_list[0])

'/home/ec2-user/SageMaker/data/frames/f150/smpozqlbuo_150.jpg'

In [21]:
# rename all jpgs from 'smpozqlbuo_150.jpg' to 'smpozqlbuo.jpg'
# removing the '_150'

for jpg in f150_list:
    src = os.path.join(f150_dir, jpg)
    dst = os.path.join(f150_dir, jpg[:-8] + '.jpg')
    shutil.move(src, dst)

In [20]:
len(f150_list)

94148

# Pandas Magic

In [22]:
metadata_all = pd.read_csv("/home/ec2-user/SageMaker/deepfake_notebooks/metadata_all.csv")
metadata_all.head()

       Unnamed: 0 label        original  split
0  dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train
1  izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train
2  yenswtjadf.mp4  FAKE  nekeugsope.mp4  train
3  hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train
4  gmlomcyfap.mp4  FAKE  whneslhtcb.mp4  train

In [23]:
len(os.listdir(f150_dir))

94147

In [24]:
len(metadata_all[metadata_all.label == "REAL"]), len(metadata_all[metadata_all.label == "FAKE"])

(19154, 100000)

In [25]:
metadata_all.head()

       Unnamed: 0 label        original  split
0  dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train
1  izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train
2  yenswtjadf.mp4  FAKE  nekeugsope.mp4  train
3  hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train
4  gmlomcyfap.mp4  FAKE  whneslhtcb.mp4  train

In [26]:
metadata_df = metadata_all.rename(columns = {'Unnamed: 0': 'videoname'})

In [27]:
metadata_df.columns

Index(['videoname', 'label', 'original', 'split'], dtype='object')

In [28]:
f150 = list(np.zeros(len(metadata_df), dtype=np.int8))

In [29]:
metadata_df['f150'] = f150

In [30]:
metadata_df.head()

        videoname label        original  split  f150
0  dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train     0
1  izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train     0
2  yenswtjadf.mp4  FAKE  nekeugsope.mp4  train     0
3  hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train     0
4  gmlomcyfap.mp4  FAKE  whneslhtcb.mp4  train     0

In [31]:
len(os.listdir(f150_dir))

94147

In [32]:
#metadata_df.at["dvglijlzdi.mp4", 'f99'] = 1

In [33]:
meta = metadata_df.set_index('videoname')

In [34]:
meta.at["dvglijlzdi.mp4", 'f150'] = 1

In [35]:
#metadata_df = metadata_df[metadata_df.f99 != 1]

In [36]:
meta[meta.index == 'dvglijlzdi.mp4']

               label        original  split  f150
videoname
dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train     1

In [38]:
meta.loc[meta['f150'] == 1]

               label        original  split  f150
videoname
dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train     1

In [39]:
image_list = os.listdir(f150_dir)[:5]

In [40]:
for image in image_list:
    video = image[:-3]+'mp4'
    meta.at[video, 'f150'] = 1

In [41]:
meta.loc[meta['f150'] == 1]

               label        original  split  f150
videoname
dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train     1
dxqpxgnbuy.mp4  FAKE  mlvojaaocm.mp4  train     1
begozxasac.mp4  FAKE  ysnepsntpe.mp4  train     1
gcwjactfir.mp4  FAKE  yvsaazhxhc.mp4  train     1
monumbirio.mp4  FAKE  bgeacsngmi.mp4  train     1
ijgfowotbt.mp4  FAKE  xeyceemrzs.mp4  train     1

In [42]:
new_list = meta.loc[meta['f150'] == 1].index.tolist()

In [43]:
type(new_list)

list

In [44]:
new_list

['dvglijlzdi.mp4',
 'dxqpxgnbuy.mp4',
 'begozxasac.mp4',
 'gcwjactfir.mp4',
 'monumbirio.mp4',
 'ijgfowotbt.mp4']

In [45]:
for image in new_list:
    video = image[:-3]+'mp4'
    meta.at[video, 'f150'] = 0

In [46]:
meta.loc[meta['f150'] == 1]

Empty DataFrame
Columns: [label, original, split, f150]
Index: []

In [47]:
f150_list = os.listdir(f150_dir)

In [48]:
len(f150_list)

94147

In [49]:
f150_list[0]

'dxqpxgnbuy.jpg'

In [50]:
for image in f150_list:
    video = image[:-3]+'mp4'
    meta.at[video, 'f150'] = 1

In [51]:
final_meta = meta[meta.f150 != 0]

In [52]:
final_meta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94147 entries, dvglijlzdi.mp4 to gdhlrzpxxr.mp4
Data columns (total 4 columns):
label       94147 non-null object
original    77944 non-null object
split       94147 non-null object
f150        94147 non-null int64
dtypes: int64(1), object(3)
memory usage: 3.6+ MB

In [53]:
len(final_meta[final_meta.label == "REAL"]), len(final_meta[final_meta.label == "FAKE"])

(16203, 77944)

In [54]:
if os.path.isfile(os.path.join(f150_dir, 'metadata.csv')):
    print ("File exist")
    print ('Deleting metadata.csv')
    os.remove(os.path.join(f150_dir, 'metadata.csv'))
else:
    print('metadata.csv does not exist')

metadata.csv does not exist

In [55]:
final_meta.to_csv(os.path.join(f150_dir, 'metadata.csv'))

In [56]:
metatest = pd.read_csv(os.path.join(f150_dir, 'metadata.csv'))

In [57]:
len(metatest)

94147

In [58]:
len(metatest[metatest.label == "REAL"]), len(metatest[metatest.label == "FAKE"])

(16203, 77944)

In [59]:
metatest.head()

        videoname label        original  split  f150
0  dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train     1
1  izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train     1
2  yenswtjadf.mp4  FAKE  nekeugsope.mp4  train     1
3  hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train     1
4  iybodcrcnc.mp4  FAKE  jutaplgsnv.mp4  train     1