In [128]:
import pandas as pd
import numpy as np
import os

In [129]:
f99_dir = '/home/ec2-user/SageMaker/data/frames/f99'

In [130]:
metadata_all = pd.read_csv("/home/ec2-user/SageMaker/deepfake_notebooks/metadata_all.csv")
metadata_all.head()

       Unnamed: 0 label        original  split
0  dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train
1  izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train
2  yenswtjadf.mp4  FAKE  nekeugsope.mp4  train
3  hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train
4  gmlomcyfap.mp4  FAKE  whneslhtcb.mp4  train

In [131]:
len(os.listdir(f99_dir))

114638

In [132]:
len(metadata_all[metadata_all.label == "REAL"]), len(metadata_all[metadata_all.label == "FAKE"])

(19154, 100000)

In [133]:
metadata_all.head()

       Unnamed: 0 label        original  split
0  dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train
1  izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train
2  yenswtjadf.mp4  FAKE  nekeugsope.mp4  train
3  hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train
4  gmlomcyfap.mp4  FAKE  whneslhtcb.mp4  train

In [134]:
metadata_df = metadata_all.rename(columns = {'Unnamed: 0': 'videoname'})

In [135]:
metadata_df.columns

Index(['videoname', 'label', 'original', 'split'], dtype='object')

In [136]:
f99 = list(np.zeros(len(metadata_df), dtype=np.int8))

In [137]:
metadata_df['f99'] = f99

In [138]:
metadata_df.head()

        videoname label        original  split  f99
0  dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train    0
1  izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train    0
2  yenswtjadf.mp4  FAKE  nekeugsope.mp4  train    0
3  hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train    0
4  gmlomcyfap.mp4  FAKE  whneslhtcb.mp4  train    0

In [139]:
len(os.listdir(f99_dir))

114638

In [140]:
#metadata_df.at["dvglijlzdi.mp4", 'f99'] = 1

In [141]:
meta = metadata_df.set_index('videoname')

In [142]:
meta.at["dvglijlzdi.mp4", 'f99'] = 1

In [143]:
#metadata_df = metadata_df[metadata_df.f99 != 1]

In [144]:
meta[meta.index == 'dvglijlzdi.mp4']

               label        original  split  f99
videoname
dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train    1

In [145]:
meta.loc[meta['f99'] == 1]

               label        original  split  f99
videoname
dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train    1

In [146]:
image_list = os.listdir(f99_dir)[:5]

In [147]:
for image in image_list:
    video = image[:-3]+'mp4'
    meta.at[video, 'f99'] = 1

In [148]:
meta.loc[meta['f99'] == 1]

               label        original  split  f99
videoname
dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train    1
dxqpxgnbuy.mp4  FAKE  mlvojaaocm.mp4  train    1
begozxasac.mp4  FAKE  ysnepsntpe.mp4  train    1
gcwjactfir.mp4  FAKE  yvsaazhxhc.mp4  train    1
hvkmqifunx.mp4  FAKE  jpvkoxrueh.mp4  train    1
ijgfowotbt.mp4  FAKE  xeyceemrzs.mp4  train    1

In [149]:
new_list = meta.loc[meta['f99'] == 1].index.tolist()

In [150]:
type(new_list)

list

In [151]:
new_list

['dvglijlzdi.mp4',
 'dxqpxgnbuy.mp4',
 'begozxasac.mp4',
 'gcwjactfir.mp4',
 'hvkmqifunx.mp4',
 'ijgfowotbt.mp4']

In [152]:
for image in new_list:
    video = image[:-3]+'mp4'
    meta.at[video, 'f99'] = 0

In [153]:
meta.loc[meta['f99'] == 1]

Empty DataFrame
Columns: [label, original, split, f99]
Index: []

In [154]:
f99_list = os.listdir(f99_dir)

In [155]:
len(f99_list)

114638

In [156]:
f99_list[0]

'dxqpxgnbuy.jpg'

In [157]:
for image in f99_list:
    video = image[:-3]+'mp4'
    meta.at[video, 'f99'] = 1

In [158]:
final_meta = meta[meta.f99 != 0]

In [159]:
final_meta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 114638 entries, dvglijlzdi.mp4 to .ipynb_checkpoimp4
Data columns (total 4 columns):
label       114635 non-null object
original    96112 non-null object
split       114635 non-null object
f99         114638 non-null float64
dtypes: float64(1), object(3)
memory usage: 4.4+ MB

In [160]:
len(final_meta[final_meta.label == "REAL"]), len(final_meta[final_meta.label == "FAKE"])

(18523, 96112)

In [161]:
if os.path.isfile(os.path.join(f99_dir, 'metadata.csv')):
    print ("File exist")
    print ('Deleting metadata.csv')
    os.remove(os.path.join(f99_dir, 'metadata.csv'))
else:
    print('metadata.csv does not exist')

File exist
Deleting metadata.csv

In [162]:
final_meta.to_csv(os.path.join(f99_dir, 'metadata.csv'))

In [163]:
metatest = pd.read_csv(os.path.join(f99_dir, 'metadata.csv'))

In [164]:
len(metatest)

114638

In [165]:
len(metatest[metatest.label == "REAL"]), len(metatest[metatest.label == "FAKE"])

(18523, 96112)

In [166]:
metatest.head()

        videoname label        original  split  f99
0  dvglijlzdi.mp4  FAKE  mwlwlieswy.mp4  train  1.0
1  izwsybqjfz.mp4  FAKE  xqsivexncg.mp4  train  1.0
2  yenswtjadf.mp4  FAKE  nekeugsope.mp4  train  1.0
3  hzoccorwwg.mp4  FAKE  bqckuzlrar.mp4  train  1.0
4  gmlomcyfap.mp4  FAKE  whneslhtcb.mp4  train  1.0